{% extends 'base.html' %}

{% block title %}Home - myMLOpsApp{% endblock %}

{% block content %} {# 고유 콘텐츠를 content 블록 안에 넣습니다 #}
    <h1>{{ message }}</h1>
    <p>This is the home page of your MLOps application.</p>
    <hr>
    <h2>Configuration Management</h2>
    <ul>
        <li><a href="{% url 'mymlopsapp1:list_dataset_configs' %}">Manage Dataset Configurations</a></li>
        <li><a href="{% url 'mymlopsapp1:create_dataset_config' %}">Create Dataset Configuration (Manual)</a></li>
        <li><a href="{% url 'mymlopsapp1:dataset_upload' %}">Upload New Dataset File</a></li>
        <li><a href="{% url 'mymlopsapp1:list_feature_configs' %}">Manage Feature Configurations</a></li>
        <li><a href="{% url 'mymlopsapp1:create_feature_config' %}">Create Feature Configuration</a></li>
        <li><a href="{% url 'mymlopsapp1:list_model_configs' %}">Manage Model Configurations</a></li>
        <li><a href="{% url 'mymlopsapp1:create_model_config' %}">Create Model Configuration</a></li>
    </ul>
    <hr>
    <h2>ML Operations</h2>
    <ul>
        <li><a href="{% url 'mymlopsapp1:train_model' %}">Train a New Model</a></li>
        <li><a href="{% url 'mymlopsapp1:compare_results' %}">Compare Model Results</a></li>
    </ul>
{% endblock %}